<!DOCTYPE html>
<html>
<%- include('../head'); -%>
  <%- include('../navbar', {active: 'add'}); -%>
<body>

  <div class="container-fluid">
      <main class="p-3">
        <h1>Add Event: </h1>
        <form class="form-group" action="/events/add" method="post">
          <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class='form-control' name="title" value="">
          </div>
          <div class="form-group">
            <label for="Title">People Invited: </label>
            <input type="text" class='form-control' name="people_invited" value="">
          </div>
          <div class="form-group">
            <label for="Title">Location: </label>
            <input type="text" class='form-control' name="location" value="">
          </div>
          <div class="form-group">
            <label for="Title">Date: </label>
            <input type="datetime-local" class='form-control' name="date" value="">
          </div>
          <div class="form-group">
            <label for="Title">Description: </label>
            <textarea class='form-control' rows='3' name="description" value=""></textarea>
          </div>
          <input class="btn btn-primary edit-event" type="submit" name="" value="submit">
        </form>
      </main>
  </div>
</body>
</html>
