<!DOCTYPE html>
<html>
<%- include('../head'); -%>
<body>
  <div class="container-fluid">
      <main class="p-3">
        <h1>Add Event: </h1>
        <form class="" action="/events/add" method="post">
          <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" name="Title" value="">
          </div>
          <div class="form-group">
            <label for="Title">People Invited: </label>
            <input type="text" name="people_invited" value="">
          </div>
          <div class="form-group">
            <label for="Title">Location: </label>
            <input type="text" name="location" value="">
          </div>
          <div class="form-group">
            <label for="Title">Date: </label>
            <input type="date" name="date" value="">
          </div>
          <div class="form-group">
            <label for="Title">Description: </label>
            <input type="textarea" name="description" value="">
          </div>
          <input class="btn btn-primary" type="submit" name="" value="submit">
        </form>
      </main>
  </div>
</body>
</html>
