<!DOCTYPE html>
<html>
<%- include('../head'); -%>
<body>
  <%- include('../navbar'); -%>

  <div class="container-fluid">
      <main class="p-3">
        <h1>Add Event: </h1>
        <form class="" action="/events/add" method="post">
          <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" name="title" value="">
          </div>
          <div class="form-group">
            <label for="Title">People Invited: </label>
            <input type="text" name="people_invited" value="">
          </div>
          <div class="form-group">
            <label for="Title">Location: </label>
            <input type="text" name="location" value="">
          </div>
          <div class="form-group">
            <label for="Title">Date: </label>
            <input type="datetime-local" name="date" value="">
          </div>
          <div class="form-group">
            <label for="Title">Description: </label>
            <input type="textarea" name="description" value="">
          </div>
          <input class="btn btn-primary edit-event" type="submit" name="" value="submit">
        </form>
      </main>
  </div>
</body>
</html>
