<!DOCTYPE html>
<html>
<%- include('../head'); -%>
<body>
  <div class="container-fluid">
      <main class="p-3">
        <%_ if (event._id === "Calendar") { -%>
          <h1>Calendar: </h1>
          <%_ for (var i = 1; i < allEvents.length; i++) { -%>
            <a href="/events/<%= allEvents[i]._id -%>" class="nav-item nav-link"><%= allEvents[i]._id        allEvents[i].date -%></a>
          <%_ } -%>
        <%_ } -%>
      </main>
  </div>
</body>
</html>
