<!DOCTYPE html>
<html>
<%- include('../head'); -%>
<body>
  <div class="container-fluid">
      <main class="p-3">
          <h1>Calendar: </h1>

          <%_ for (let i = 1; i < allEvents.length; i++) { -%>
            <a href="" class="nav-item nav-link"></a>
          <%_ } -%>

      </main>
  </div>
</body>
</html>
