<!DOCTYPE html>
<html>
<%- include('../head'); -%>
<body>
  <div class="container-fluid">
      <main class="p-3">
          <h1>Calendar: </h1>

          <%_ for (let i = 1; i < allEvents.length; i++) { -%>
            <a href="/events/<%= allEvents[i]._id -%>" class="nav-item nav-link"><%=allEvents[i]._id-%></a>
            <p><%=allEvents[i].date-%></p>
          <%_ } -%>

      </main>
  </div>
</body>
</html>
