<!DOCTYPE html>
<html>
<%- include('../head'); -%>
<body>
  <div class="container-fluid">
      <main class="p-3">
          <h1>Calendar: </h1>

          <%_ for (const c in allEvents) { -%>
            <!-- <a href="/events/<%= c._id -%>" class="nav-item nav-link"><%= c._id        c.date -%></a> -->
          <%_ } -%>

      </main>
  </div>
</body>
</html>
