<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
  <%- include('../navbar', {active: 'events'}); -%>
    <h1>Non-Academic Events</h1>
    <div class="container-fluid">
      <main class="p-3">
        <div class="row">
          <!--
          <!- for each event add that events name in a seperate column ->
          <%_ for (const id of eventIDs) { -%>
            <div class="col border text-primary">id._id</div>
          <%_ } -%>
        -->
        </div>
      </main>
    </div>
  </body>
</html>
