<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('./head'); -%>
  <body>
    <%- include('./navbar'); -%>
    <h1>Login</h1>
    <form class="" action="/users/login" method="post">
      <label for="">Username</label>
      <input type="text" name="username" value="">
      <!-- Need to add the button below -->
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <%_ for (const e of allUsers) { -%>
      <p><%=e.username-%></p>
    <%_ } -%>
  </body>
</html>
