


<div id="messages">
  <% Object.keys(locals.messages).forEach(function (type) { %>
    <% console.log("type: " + type) %>
    <% messages[type].forEach(function (message) { %>
      <% if() %>
        <div class='alert alert-$(<%t.toString()%>)'' role='alert'> <%=message-%></div>

    <% }) %>
  <% }) %>
</div>
