


<div id="messages">
  <% Object.keys(locals.messages).forEach(function (type) { %>
    <% console.log(type) %>
    <% messages[type].forEach(function (message) { %>
      <div class='alert alert-success' role='alert'> <%=message-%></div>
    <% }) %>
  <% }) %>
</div>
