<!-- <div id="messages">
<% Object.keys(messages).forEach(function (type) { %>
  <% messages[type].forEach(function (message) { %>
    <div class="alert alert-"+type> <%=messages-%></div>
  <% }) %>
<% }) %>
</div> -->


<div id="messages">
  <% Object.keys(locals.messages).forEach(function (type) { %>
    <% messages[type].forEach(function (message) { %>
      <% console.log("type ", JSON.stringify(doc, null, '\t')) %>
      <% console.log(type, JSON.stringify(doc, null, '\t')) %>

      <div class='alert alert'+<%=type-%> role='alert'> <%=message-%></div>
    <% }) %>
  <% }) %>
</div>
