<header class="navbar navbar-expand navbar-dark bg-dark">
  <h1 class="navbar-brand">Non Academic Events</h1>
  <nav class="navbar-nav ml-3">
    <a href="/" class="nav-item nav-link">Calendar</a>
    <!-- These below need to be changed to help the user create and view their events -->
    <a href="/events" class="nav-item nav-link">My Events</a>
    <a href="/events/add" class="nav-item nav-link">Create Event</a>


  </nav>
  <!-- I think this needs to go to a new page that has a user input a login -->
  <nav class="navbar-nav ml-auto">
      <a href="/users/login" class="nav-item nav-link">Login</a>
      <a href="/users/register" class="nav-item nav-link">Register</a>
  </nav>
</header>
