<header class="navbar navbar-expand navbar-dark bg-dark">
  <h1 class="navbar-brand">Non Academic Events</h1>
  <nav class="navbar-nav ml-3">
    <a href="/events" class="nav-item nav-link <%= active === 'detail' ? 'active' : 'inactive' -%>">Calendar</a>
  </nav>
  <!-- I think this needs to go to a new page that has a user input a login -->
  <nav class="navbar-nav ml-auto">
    <%_ if (admin) { -%>
      <a href="/logout" class="nav-item nav-link">Logout</a>
    <%_ } else { -%>
      <a href="/login" class="nav-item nav-link">Login</a>
    <%_ } -%>
  </nav>
</header>
