<header class="navbar navbar-expand navbar-dark bg-dark">
  <h1 class="navbar-brand">Events</h1>
  <nav class="navbar-nav ml-3">
    <a href="/events" class="nav-item nav-link <%= active === 'events' ? 'active' : 'inactive' -%>">Events</a>
    <a href="/create" class="nav-item nav-link <%= active === 'create' ? 'active' : 'inactive' -%>">Add Event</a>
  </nav>
</header>
