<header class="navbar navbar-expand navbar-dark bg-dark">
  <h1 class="navbar-brand">Non Academic Events</h1>
  <nav class="navbar-nav ml-3">
    <a href="/events/detail" class="nav-item nav-link <%= active === 'events' ? 'active' : 'inactive' -%>">Calendar</a>
    <a href="/events/index" class="nav-item nav-link <%= active === 'events' ? 'active' : 'inactive' -%>">Events</a>
  </nav>
</header>
