<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('./head'); -%>
    <%- include('./navbar', {active: 'register'}); -%>
    <body style="background-image : url('https://www.stlawu.edu/sites/default/files/news-images/Sullivan-Student-Center.jpg'); background-size:100%" >

    <h1>Register</h1>
    <form class="" action="/users/register" method="POST">
      <label for="">Name</label>
      <input type="text" name="name" value="">
      <label for="">Username</label>
      <input type="text" name="username" value="">
      <!-- Need to add the button below -->
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </body>
</html>
