<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('./head'); -%>
  <body>
    <%- include('./navbar'); -%>

    <h1>Register</h1>
    <form class="" action="users/register" method="post">
      <label for="">Username</label>
      <input type="text" name="username" value="">
      <!-- Need to add the button below -->
      <button type="submit" value="submit" class="btn btn-primary"></button>
    </form>
  </body>
</html>
