.alert-error{
  color: #a94442
  background-color: #f2dede;
  border-color: #ebccd1;
}


.alert-success_msg{
  color: #3c763d
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.HIDDEN{
  visibility:hidden
}

.BROWN .nav-link {
  color: #4b2b23;
}

.BROWN .nav-link.active {
  background: #4b2b23;
  color: #ffffff;
}

.BROWN .nav-link:hover {
  text-decoration: underline;
}

body {
  background-image : url('https://www.stlawu.edu/sites/default/files/news-images/Sullivan-Student-Center.jpg');
  /* The image used */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
